@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');
.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
}

